*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.linharosa{
    background-color: #FFC5D3;
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    padding-left: 50vh;


}

.linharosa div{
    background-color: rgb(210, 50, 77);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0px 0px 0px 5px;
}

.linhamarrom{
    width: 100vw;
    height: 200px;
    background-color: #D2B48C;
    display: flex;
    justify-content: right;
    align-items: center;
}

.linhamarrom div{
    width: 120px;
    height: 120px;
    background-color: #964B00;
    border-radius: 50%;
    margin: 0px 0px 0px 5px;
}

.linhaverde{
    width: 100vw;
    height: 200px;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linhaverde div{
    width: 120px;
    height: 120px;
    background-color: green;
    border-radius: 50%;
    margin: 0px 0px 0px 5px;
}

.linhaciano{
    width: 100vw;
    height: 200px;
    background-color: #e0ffff ;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.linhaciano div{
    width: 120px;
    height: 120px;
    background-color: blue;
    border-radius: 50%;
    margin: 0px 0px 0px 5px;
}